decorator
Django
django-allauth
django-bootstrap-v5
django-cors-headers
django-filter
django-fontawesome-5
django-widget-tweaks
python-decouple
gunicorn
sqlparse
psycopg2-binary
Pillow
whitenoise
